@import "../styles/variables.scss";

.cart-icon {
    cursor: pointer;
}

.navbar {
    border-bottom: 2px solid $primary;
    .navbar-nav {
        margin: 0;
        padding: 0;
    }
    .nav-item {
        margin-bottom: $spacer*0.25;
        cursor: pointer;
    }
    .nav-link {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 4px solid transparent;
        font-size: 20px;
        &.active {
            border-bottom-color: $secondary;
        }
    }
}

.cart-total {
    float: right;
}
